@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 100%;
  font-family: 'League Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-family: 'Sora', sans-serif;
}

h1 {
  font-size: 5em;
}

section {
  display: flex;
  gap: 1em;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;

}

.item-list-container {
  background-color: #3A39FF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.item-list-container h1 {
  font-size: 2em;
  color: #D4FF33;
}

.item-list-container p {
  font-size: 1.2em;
  color: #D4FF33;
}

.cart {
  position: absolute;
  right: 40px;
  z-index: 1000;
  display: inline-block;
  margin-bottom: 2rem;
}

.cart img {
  width: auto;
  height: 60px;
}

.cart-text {
  position: absolute;
  top: 21%;
  left: 83%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.2rem;

}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* Fondo negro */
  color: #fff;
  /* Texto blanco */
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el texto */
footer small {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

/* Efecto hover para el texto */
footer small:hover {
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s ease;
}