@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

#root {
  max-width: auto;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 100%;
  font-family: 'League Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-family: 'Sora', sans-serif;
}


section {
  display: flex;
  gap: 1em;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;

}


.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  border: 1px solid #3A39FF;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;

}

.card img {
  width: auto;
  height: 200px;
  object-fit: cover;
}



/* NavBar */
/* Estilos existentes */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 100px;
}

.navbar li {
  margin: 0 0.8rem;
}

.navbar a {
  text-decoration: none;
  color: #D4FF33;
  font-size: 1.5rem;
  transition: color 0.5s;
}

.navbar a:hover {
  color: #FF5B23;
  text-decoration: underline;
}

img {
  height: 50px;
}

.right-img {
  display: block;
  position: absolute;
  top: 3%;
  left: 94%;
  margin-left: auto;
  max-width: 80px;

}

.item-list-container {
  background-color: #3A39FF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.item-list-container h1 {
  font-size: 2em;
  color: #D4FF33;
}

.item-list-container p {
  font-size: 1.2em;
  color: #D4FF33;
}

.cart {
  position: absolute;
  right: 40px;
  z-index: 1000;
  display: inline-block;
  margin-bottom: 2rem;
}

.cart img {
  width: auto;
  height: 60px;
}

.cart-text {
  position: absolute;
  top: -6%;
  left: 83%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.2rem;

}